<app-tabs>
	<app-tab [tabTitle]="'Notification'">
		<table border="1">
			<tr>
				<th>SI No</th>
				<th>Customer name</th>
				<th>Medicine name</th>
				<th>Phone number</th>
				<th>Email</th>
				<th>Status</th>
			</tr>
			<tr *ngFor="let invoice of data">
				<td>{{invoice.Id}}</td>
				<td>{{invoice.CustomerName}}</td>
				<td>{{invoice.MedicineName}}</td>
				<td>{{invoice.ContactNumber}}</td>
				<td>{{invoice.Email}}</td>
				<td><div *ngIf="invoice.Status === 'Dialled'; then thenBlock else elseBlock"></div>
					<ng-template #thenBlock>{{invoice.Status}}</ng-template>
					<ng-template #elseBlock><button (click)="changeStatus(invoice.Id)">{{invoice.Status}}</button></ng-template>
				</td>
			</tr>
		</table>
	</app-tab>

	<app-tab [tabTitle]="'Recommendation'">
		Tab2 content
	</app-tab>
</app-tabs>

<ul class="text-center list-inline py-3">
	<li class="list-inline-item"><a routerLink="/addinvoice" class="btn btn-info">Add Invoice</a></li>
</ul>
